* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Cormorant Garamond";
    src:url(../style/font/CormorantGaramond-Regular.ttf);
    font-family: "Caramond" ;
    src:url(../style/font/garamond.ttf)
}

h1, h2, h3, h4, h5, h6 {
    font-family: Garamond;
}

html, body {
    font-family: "Cormorant Garamond";
    width: 100%;
    height: 100%;
    background-color: #11111180;
    display: flex;
    flex-direction: column;
    background: url(./img/f433374fad7066179300d9940292e4fb.jfif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: color;

}

html {
    background-color: #111111;
}

header {
    width: 1280px;
    margin: 30px auto;
    display: flex;
    justify-content: center;

}

nav {
    display: flex;
    align-items: center;
    gap: 80px;
}

nav a {
    color: #ffff;
    text-decoration: none;
    border-bottom: solid 1px #cdaa7d00;
}

nav a:hover {
    color: #cdaa70;
    border-color: #cdaa70;
}

.instagram,
.logo, 
.label_menu,
.label_close {
    border: none;
    color: #ffffff;
}

.instagram:hover,
.logo:hover, 
.label_menu:hover,
.label_close:hover {
    color: #cdaa70;
}

.logo {
    margin: 0 40px;
}

#menu {
    display: none;
}

#menu:checked ~ .menu {
    transform: translate(0, 0);
}

label {
    cursor: pointer;
}

.menu {
    transform: translate(475px, 0);
    transition: all .1s linear;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;

    background-color: #111111bd;
    border-left: solid 1px #fff;
    padding: 0 80px;
    color: #fff;

    position: fixed;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 475px;
}

hr {
    width: 1280px;
    margin: 0 auto;
    border-color: #ffffff80;
}

.menu label {
    position: absolute;
    top: 40px;
    left: 80px;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.menu ul li:first-child {
    font-weight: 700;

}
.banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.banner h1 {
    color: #ffffff;
    font-size: 72px;
    font-weight: 800;
    line-height: 86px;
    text-align: center;
    margin-top: 260px;
}

.scroll {
    position: absolute;
    bottom: 2000px;
    color: #ffffff;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 60px;
    font-weight: 600;
    line-height: 22px;

}

@keyframes scrollAnimation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, 10px);
    }
}

.scroll_circle {
    animation: scrollAnimation .4s linear infinite alternate;
} 

blockquote{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
    width: 850px;
    margin: 0 auto;
    font-size: 27px;
    line-height: 31px;
    font-weight: 800px;
    color: #ffffff;
    
}

blockquote:before {
    content: url(../style/img/logo1.svg);
} 

.service {
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.service article {
    font-size: 30px;
    line-height: 46px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.service img {
    width: 396px;
    height: 300px;
}

.service article:after {
    content: '';
    width: 396px;
    height: 300px;
    border: solid 1px #cdaa70;
    position: absolute;
    display: block;
    transform: translate(20px, -20px);
    z-index: -1;
}

#works {
    width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#works h2 {
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}

#works a {
    font-size: 24px;
}

#works {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;

}

#works img {
    width: 416px;
    height: 416px;
    object-fit: cover;
    transition: transform .2s linear;
    filter: brightness(.8);
}

.works img:hover {
    transform: scale(1.4);
    border-radius: 10px;
    filter: drop-shadow(0 0 50px black);
}

footer {
    width: 1280px;
    margin: 0 auto;
}

.foot-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.foot_item h2 {
    margin-bottom: 10px;
}

.foot-item p{
    font-size: 18px;
    color: #ffffff80;
}

.foot-item a {
    font-size: 18px;
    color: #ffffff80;
    text-decoration: none;
}

.foot-item a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 80px 0;
    color: #ffffff;
}

.copy {
    margin: 30px 0;
    text-align: center;
    color: #ffffff80;
}


.service-tem {
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.service-tem article {
    font-size: 30px;
    line-height: 46px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    color: #ffffff;
}

.service-tem img {
    width: 400px;
    height: 400px;
}

.service-tem article:after {
    width: 400px;
    height: 400px;
    border: solid 1px #cdaa70;
    position: absolute;
    display: block;
    transform: translate(20px, -20px);
    z-index: -1;
}

#content h2{
    width: 100%;
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    display: block;
}

.block {
    width: 1280px;
    margin: 0 auto;
    margin-top: 100px;
    flex-wrap: wrap;
    gap: 30px;
    position: relative;
    object-fit: fill;


}

.about-item {
    width: 626px;
    height: 150px;
    color: #ffffff;
    top: 350px;
    margin-left: 700px;
 
} 

.big {
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    font-weight: 700;
    display: block;
} 

.table-item {
    width: 636px;
    height: 536px;
    margin: 0 auto;
    margin-top: 100px;
}

.table-item .price {
    position: relative;
    display: block;
    color: #C4C4C4;
    float: left;
    margin-left: -310px;
}

.price-item {
    
    color: #fff;
    position: relative;
    float: right;
    margin: left;
    height: 100px;
    border-bottom: 1px solid #919191;
    display: block;
    padding: 30px;
    left: 100px;
    
}   

.price-item h2 {
    font-size: 20px;
    display: block;
    border-collapse: collapse;
    vertical-align: top;
    margin: left;
}

.price-item p {
    font-size: 17px;
}


.table-item-top {
    width: 36px;
    height: 536px;
    margin: 0 auto;
    margin-top: 100px;

}

.price-top {
    position: relative;
    display: block;
    color: #C4C4C4;
    float: right;
    margin-right: -350px;
} 

.price-be {
    width: 500px;
    color: #ffffff;
    text-align: left;
    font-size: 20px;
    position: relative;
    right: 330px;
    padding: 20px;
    line-height: 40px;
    border-bottom: 1px solid;
}

img.box-be {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1280px;
    height: 576px;
    margin-top: 50px;

}





























